<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="skyguard-plugin-phonenumber" version="0.0.1">
  <name>Phone Number Skyguard</name>
  <description>Skyguard Device Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,device,phonenumber</keywords>

  <js-module src="www/phonenumber.js" name="phonenumber">
    <clobbers target="phonenumber" />
  </js-module>

  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="PhoneNumber">
        <param name="android-package" value="com.skyguard.plugin.PhoneNumber"/>
      </feature>
    </config-file>
    <source-file src="src/android/PhoneNumber.java" target-dir="src/com/skyguard/plugin" />
  </platform>
</plugin>
